/* --------- HEADER ---------*/
.header {
  display: flex;
  background: var(--header-gradient);
}

.icon-menu {
  width: 28px;
  height: 20px;
}

.logo {
  font-size: 40px;
  font-family: var(--logo-font);
  color: white;
}

.form {
  display: flex;
}

.input {
  width: 248px;
  height: 44px;
  border: 1px solid white;
  border-radius: 4px 0 0 4px;
  background-color: #eeeeee;
}

.button {
  width: 52px;
  height: 44px;
  border: none;
  border-radius: 0 4px 4px 0;
  background-color: white;
}

.icon-search {
  width: 18px;
  height: 17px;
}

.icon-favorite-light {
  width: 36px;
  height: 32px;
}

.icon-basket {
  width: 40px;
  height: 38px;
}

/* --------- MAIN ---------*/
/* --- Види товарів --- */

/* --- Реклама --- */

/* --- Популярні --- */
.icon-favorite-dark {
  width: 27px;
  height: 24px;
}
